<div class="bar">
<form action="/answer" class="searchBox"  data-turbo="false">
  <input type="text" name="question" class="searchInput">
  <input type="submit" value="" class="searchButton">
</form>

</div>
